.profile{
    display: flex;

    .profileside{
        flex: 3;
        margin-left: -10px;
    }

    .sidemenu{
        flex: 11;
    }
}
@media (min-width:200px) and (max-width: 1029.33px) {
    .profile{
        .sidemenu{
            margin-left: -290px;
        }
    }
}
@media (min-width:290px) and (max-width: 934px) {
    .profile{
        .sidemenu{
            margin-left: -250px;
        }
    }
}